<% layout('layouts/main', {username: username}) -%>
<div>
  <form action="/news" method="post">
    <label for="">Title news</label>
    <input type="text" name="title" />
    <label for="">Text news</label>
    <input type="text" name="text" />
    <button type="submit">Add</button>
  </form>
</div>
<br /><br />
<div>
  <ul>
    <% news.forEach(item => { %>
    <li>
      <a href="/news/<%= item.id%>"><%= item.title%></a>
      <form action="/news/<%= item.id%>" method="POST">
        <input type="hidden" name="_method" value="DELETE" />
        <button type="submit">del</button>
      </form>
      <br />
      <form action="/news/<%= item.id%>" method="POST">
        <input type="hidden" name="_method" value="PUT" />
        <label for="">Title news</label>
        <input type="text" name="title" value="<%= item.title %>" />
        <label for="">Text news</label>
        <input type="text" name="text" value="<%= item.text %>" />
        <button type="submit">Update</button>
      </form>
    </li>
    <br />
    <hr />
    <% }) %>
  </ul>
</div>
